name: Lint OpenAPI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Redocly CLI
        run: npm install --global @redocly/cli@latest

      - name: Lint OpenAPI
        run: redocly lint api/openapi.yaml
